# Server Configuration
PORT=3001
NODE_ENV=production

# Webhook Configuration
WEBHOOK_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDAwMDAwIiwibmFtZSI6Ik9ubGluZSBDaGF0IiwiYWRtaW4iOmZhbHNlLCJpYXQiOjE1MTYyMzkwMjJ9.cHpl7meKuefexcE-uE2iaApFbQiPYc8YvXpr4bt8Wto
WEBHOOK_URL=https://selected-gazelle-concrete.ngrok-free.app/webhook/5996bd98-f541-4b6f-97b4-08f1fe7ae1b5

# CORS Configuration
# Set this to your frontend domain for production (e.g., https://yourdomain.com)
# Use * for development or to allow all origins
ALLOWED_ORIGIN=* 